<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.api.mapper.RoleMapper">
    <resultMap id="modelResultMap" type="com.ht.api.entity.Role">
        <id property="id" column="id" />
        <result property="role" column="role" />
        <result property="memo" column="memo" />
        <result property="status" column="status" />
    </resultMap>

    <insert id="add" parameterType="com.ht.api.entity.Role">
        INSERT INTO role (role, memo,status)
        VALUES (#{role},#{memo}, #{status})
    </insert>

    <update id="update" parameterType="com.ht.api.entity.Role">
        UPDATE role
        SET  cart = #{cart} ,name = #{name}
        WHERE id = #{id} and role =#{role} and memo = #{memo} and status =#{status}
    </update>

    <delete id="remove" parameterType="com.ht.api.entity.Role">
        DELETE FROM role WHERE id = #{id} and role =#{role} and memo = #{memo} and status =#{status}
    </delete>

    <select id="getByName" parameterType="java.lang.String" resultMap="modelResultMap">
        SELECT *
        FROM role
        WHERE name = #{name} or filename = #{name}
    </select>

    <select id="getByCart" parameterType="java.lang.String" resultMap="modelResultMap">
        SELECT *
        FROM role
        WHERE cart = #{cart}
    </select>

    <select id="getAll" resultMap="modelResultMap">
        SELECT *
        FROM role LIMIT 1000
    </select>

</mapper>
